<br>
<div class="container text-center ">
<!-- Add Courses -->
  <div class="col align-items-center">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div formArrayName="courses">
      <div *ngFor="let course of courses.controls; index as i">
          <input [formControlName]="i" placeholder="Course">
      </div>
  </div>
  <br>
  <button>Submit</button>
  <br><br>
  </form>
  <button (click)="addCourse()">Add Course</button>

  <div class="col align-items-center">
    <!-- Binding -->
    <h1>Two-way Binding:</h1>
    <input  type="text" [(ngModel)]="Data" />
    <span>Value: {{ Data }}</span>
  <!-- Pipes -->
    <h1> Inbuild-Pipe's: </h1>
      <h2>
      Date: {{dateToday}}<br>
      DatePipes: {{dateToday | date:'short' | uppercase}}
      </h2>

      <h1>Custom-Pipes': </h1>
      <h2>
        {{Data}} to Reverce: {{Data | customPipe}} </h2>
  <!-- NgLoops -->

  <!-- Ngif Statement -->
            
    </div>
  </div>
</div>

