
<br>
<div>
 <!-- ngLoop -->
  <h2> NgFor Loop: </h2>
          <ul>
            <!-- 'u' is 'Value' and 'user' is 'Collection' -->
            <li *ngFor="let u of user; let i=index;">
              {{i+1}} - {{u.name}} - {{u.contactno}}
          </ul>

<!-- Switch Example-->
  <h2>Switch in Angular</h2>
    <select [(ngModel)]="selectedVal">
      <option *ngFor="let ite of items" [value]="ite.str">{{ite.str}}</option>
    </select>
    <div  [ngSwitch]= "selectedVal">
      <div *ngSwitchCase="'one'" > <h3>1 Pressed</h3> </div>
      <div *ngSwitchCase="'two'" > <h3>2 Pressed</h3> </div>
      <div *ngSwitchCase="'three'">  <h3>3 Pressed</h3> </div>
      <div *ngSwitchCase="'four'">   <h3>4 Pressed</h3> </div>
      <div *ngSwitchDefault > <h3> Not Pressed!!! </h3> </div>
    </div>

<!-- If Statement -->
  <div *ngIf="!isLoggedIn" >
    <nav><a routerLink="'/login'"  > login</a></nav>
  </div>
</div>
